{% extends 'base.html' %}

{% block title %}
    Войти через Telegram
{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Войти через Telegram</h1>
    {% if user.is_authenticated %}
        <p>Вы вошли как {{ user.telegramuser.username }}</p>
        <a href="{% url 'logout' %}" class="logout-button">Выйти</a>
    {% else %}
        <a href="{% url 'generate_telegram_link' %}" class="telegram-button">
            Войти через Telegram
        </a>
    {% endif %}
</div>

<script>
function checkAuth() {
    fetch('/check-auth/')
        .then(response => response.json())
        .then(data => {
            if (data.authenticated) {
                window.location.reload();
            }
        });
}

const isAuthenticated = {{ is_authenticated|yesno:"true,false" }};

if (!isAuthenticated) {
    setInterval(checkAuth, 2000);
}
</script>
{% endblock %}
